<div ng-controller="movie_all" ng-show="main">
  <div class="sidebar col-lg-3 col-md-3">
    <div class="agefilter">
      <h2>Age Rating</h2>
      <input type="radio" name="agerating" value="0" ng-model="searchMov.age_rat">U<br>
      <input type="radio" name="agerating" value="1" ng-model="searchMov.age_rat">A<br>
      <input type="radio" name="agerating" value="2" ng-model="searchMov.age_rat">U/A<br>
      <input type="radio" name="agerating" value="" ng-model="searchMov.age_rat">None of these<br>
    </div>
    <hr style="background-color:#6495ED;" class="side"><br><br>
  </div>
  <div class="maincontainer col-lg-custom-movcont col-md-8">
    <div ng-repeat="movie in movies | filter: searchMov">
      <div class="mov_container  col-lg-custom-mov col-md-3" >
        <div class="thumbnail">
          <div class="mov-poster">
            <img src="http://localhost:3000/{{movie.image_source}}" alt="{{movie.name}}">
          </div>
          <h4>{{movie.name}}</h4>
          <div class="over rt">
            <img src="../img/cfrottentomatoes.png" alt="Rotten Tomatoes"><br>
            <div>{{movie.rt_rating}}%</div>
          </div>
          <div class="over imdb">
            <img src="../img/imdb.png" alt="IMDB"><br>
            <div>{{movie.imdb_rating}}/10</div>
          </div>
          <div class="over age-rating">
            <div>{{movie.age_rating | age}}</div>
          </div>
          <div class="over booking">
            <div class="text" ng-click=moviebook1(movie._id)>Book Tickets</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
